<div class="jumbotron">
  <form id="nl-form" class="nl-form">
    Rent is due on the  
    <br/>
    <select>
        <option value="1" selected>1st</option>
        <option value="2">2nd</option>
        <option value="3">3rd</option>
        <option value="4">4th</option>
        <option value="5">5th</option>
    </select>
    day of every month, and there is a
    <br />
    $<input type="text" value="" placeholder="35" />
    late fee when rent is 
    <input type="text" value="" placeholder="5" />
    days late.
    <div class="nl-submit-wrap">
        <button class="nl-submit" type="submit">Save Rent Policy</button>
    </div>
    <div class="nl-overlay"></div>
  </form>
</div>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->
