<div class="jumbotron">
  <form id="nl-form" class="nl-form">
    I feel like eating 
    <select>
        <option value="1" selected>any food</option>
        <option value="2">Indian</option>
        <option value="3">French</option>
        <option value="4">Japanese</option>
        <option value="2">Italian</option>
    </select>
    <br />in a
    <select>
        <option value="1" selected>standard</option>
        <option value="2">fancy</option>
        <option value="3">hip</option>
        <option value="4">traditional</option>
        <option value="2">fine</option>
    </select>
    restaurant
    <select>
        <option value="1" selected>anytime</option>
        <option value="1">at 7 p.m.</option>
        <option value="2">at 8 p.m.</option>
        <option value="3">at 9 p.m.</option>
    </select>
    in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
    <div class="nl-submit-wrap">
        <button class="nl-submit" type="submit">Find a restaurant</button>
    </div>
    <div class="nl-overlay"></div>
  </form>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
